body {
  background-color: white;
}
.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.item-1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  top: 190px;
  left: 100px;
  position: absolute;
  mix-blend-mode: difference;
  border-radius: 100%;
}

.item-1:active {
  background-color: blue;
}

.item-2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  top: 170px;
  left: 50px;
  position: absolute;
  mix-blend-mode: difference;
}

.move-ltr {
  -webkit-animation: moveltr 5s;
  animation: moveltr 5s;
  animation-fill-mode: forwards;
}

@keyframes moveltr {
  0% {
  }
  100% {
    transform: translateY(-1000px);
  }
}
